@import "../globals";

.cards_wrapper {
  display: flex;
  flex-wrap: wrap;

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 40px 0;
  }
}
