@import "../globals";

.cards_wrapper {
  display: flex;
  flex-wrap: wrap;

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 40px 0;
  }

  .loader {
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
      height: 200px;
      @media (min-width: 576px) {
        // left: 40%;
      }
    }
    button {
      padding: 0.6em 1em;
      margin: 20px 0;
      border: 1px solid gray;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      font-weight: bolder;
      font-size: 1.2em;

      &:hover {
        background-color: rgba(128, 128, 128, 0.212);
      }
    }
  }
}
