@import "../globals";

.pagination {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;

  button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
  }

  span {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
  }
}
