@import "../globals";

.top_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  color: $grayCol;

  .filter_section {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

    .sort {
      flex-shrink: 0;
      align-self: center;
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }

  &__info {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    background: #fff4ea;
    border-radius: 2px;
    margin-top: 40px;
    padding: 1rem;

    div {
      max-width: 50px;
    }
    span {
      margin-left: 1rem;
      align-self: center;
      line-height: 1.5rem;
      color: #000;
    }
  }

  h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-weight: 600;
    text-transform: capitalize;
    flex-basis: 100%;

    span {
      text-transform: capitalize;
    }

    span:last-of-type {
      color: $grayCol;
      font-size: medium;
    }
  }
}

@media (min-width: 768px) {
  .top_header {
    .filter_section {
      flex-basis: 70%;
      justify-content: space-between;
      margin: 0;

      .sort {
        flex-basis: auto;
      }
    }
  }
}

@media (min-width: 992px) {
  .top_header {
    .filter_section {
      flex-basis: 60%;
    }
  }
}
